@model FilesViewModel
@{
    ViewData["Title"] = "Files";
}
@if (!string.IsNullOrEmpty(Model.Mensage))
{
    <script>
        bootbox.alert({ title: "@Model.Title", message: "@Model.Mensage" });
    </script>
}
<h1>Files</h1>
<h4>Informações dos arquivos e dos SetBox</h4>
<form id="formUpload" name="formUpload" asp-controller="Files" asp-action="Uploader" enctype="multipart/form-data" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="files" onchange="uploadFiles()">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
</form>

@section scripts {

    <script>

        function uploadFiles() {

            $("#progress").hide();

            var files = $('#files')[0].files[0];
            var formData = new FormData();
            formData.append("files", files);

            PleaseWaitShow();
            $.ajax(
                {
                    url: "/Files/Uploader",
                    data: formData,
                    processData: false,
                    contentType: false,
                    async: true,
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        PleaseWaitHide();
                        bootbox.alert({ title: "Upload", message: data });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        PleaseWaitHide();
                        bootbox.alert({ title: "Error", message: "Status: " + xhr.status + " Error : " + thrownError });
                    }
                }
            );
        }
    </script>

}